* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6f9;
    transition: 0.3s;
}

body.dark {
    background: #121212;
    color: white;
}

/* NAVBAR */
nav {
    background: #156b9e;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav input {
    padding: 6px;
    border-radius: 5px;
    border: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li {
    cursor: pointer;
}

/* LOGIN */
.login-box {
    background: white;
    width: 280px;
    padding: 20px;
    margin: 30px auto;
    text-align: center;
    border-radius: 10px;
}

.login-box input {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
}

.login-box button {
    background: #f04d23;
    color: white;
    border: none;
    padding: 8px 15px;
}

/* PAGES */
.page {
    display: none;
    padding: 40px;
    text-align: center;
}

.page.active {
    display: block;
}

/* COURSES */
.course-card {
    background: white;
    padding: 20px;
    width: 260px;
    margin: 15px auto;
    border-radius: 10px;
}

.course-card button {
    background: #f04d23;
    color: white;
    border: none;
    padding: 6px 14px;
}

/* PROGRESS */
.progress-bar {
    width: 300px;
    height: 20px;
    background: #ddd;
    margin: 20px auto;
    border-radius: 20px;
}

#progress {
    height: 100%;
    width: 0%;
    background: #f04d23;
    border-radius: 20px;
}

/* VIDEO */
iframe {
    width: 560px;
    height: 315px;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    iframe {
        width: 100%;
        height: 200px;
    }
}
